<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
        <title>Exchanges</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/basic_style.css">
    </head>
    <body>
        <%= render "header/header" %>
        <br><br>
        <div style="margin: 0 auto; width: 400px;">
            <div style="margin: 10 auto; width: 400px;"><f>Supported Exchanges:</f></div>
            <br>
            <a href = "exchanges/show/?x=Bittrex" target = "_blank"><div style="display: inline-block;"><img src='/images/exchange buttons/bittrex_unselected.png' onmouseover="this.src='/images/exchange buttons/bittrex_selected.png';" onmouseout="this.src='images/exchange buttons/bittrex_unselected.png';"/></div></a>
            <a href = "exchanges/show/?x=Poloniex" target = "_blank"><div style="display: inline-block;"><img src='/images/exchange buttons/poloniex_unselected.png' onmouseover="this.src='/images/exchange buttons/poloniex_selected.png';" onmouseout="this.src='images/exchange buttons/poloniex_unselected.png';"/></div></a>
        </div>
        
    </body>
</html>