<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
<style>
html { 
  background-color: #4877EE;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a:hover { text-decoration: none; }

body{
  margin:0;
}
    
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
    
.unselectable {
	-webkit-touch-callout: none;
    	-webkit-user-select: none;
    	-khtml-user-select: none;
    	-moz-user-select: none;
    	-ms-user-select: none;
   	 user-select: none;
}
</style>

<h1 class="title unselectable">Cryptocurrency Market Aggregator</h1>
<br>
<img src='home buttons/new_unselected.png' onmouseover="this.src='home buttons/new_selected.png';" onmouseout="this.src='home buttons/new_unselected.png';"/>
	<img src='home buttons/about_unselected.png' onmouseover="this.src='home buttons/about_selected.png';" onmouseout="this.src='home buttons/about_unselected.png';"/>
	<a href = "wallets.html"><img src='home buttons/wallets_unselected.png' onmouseover="this.src='home buttons/wallets_selected.png';" onmouseout="this.src='home buttons/wallets_unselected.png';"/></a>
	<img src='home buttons/exchanges_unselected.png' onmouseover="this.src='home buttons/exchanges_selected.png';" onmouseout="this.src='home buttons/exchanges_unselected.png';"/>
</head>
</html>