<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
<style>
html { 
  background-color: #4877EE;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a:hover { text-decoration: none; }

body{padding:0;margin:0;}
    .bg {
    background-color: #4877EE;
    margin: 0;
    }
    
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
    
.unselectable {
	-webkit-touch-callout: none;
    	-webkit-user-select: none;
    	-khtml-user-select: none;
    	-moz-user-select: none;
    	-ms-user-select: none;
   	 user-select: none;
}

    f {
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 30px;
        font-weight: bold;
        color: white;
        text-shadow: 2px 2px #000000;
        text-align: center;
    }
    
    f.smaller {
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 24px;
        font-weight: bold;
        color: white;
        text-shadow: 2px 2px #000000;
        text-align: center;
    }
</style>

<h1 class="title unselectable">Cryptocurrency Market Aggregator</h1>
<br>
<div style="margin: 0 auto; width: 650px;">
  <a href = "about"><div style="display: inline-block;"><img src='/images/home buttons/about_unselected.png' onmouseover="this.src='/images/home buttons/about_selected.png';" onmouseout="this.src='images/home buttons/about_unselected.png';"/></div></a>
	<a href = "wallets"><div style="display: inline-block;"><img src='/images/home buttons/wallets_unselected.png' onmouseover="this.src='/images/home buttons/wallets_selected.png';" onmouseout="this.src='images/home buttons/wallets_unselected.png';"/></div></a>
	<a href = "exchanges"><div style="display: inline-block;"><img src='/images/home buttons/exchanges_unselected.png' onmouseover="this.src='/images/home buttons/exchanges_selected.png';" onmouseout="this.src='images/home buttons/exchanges_unselected.png';"/></div></a>
</div>
</head>
</html>