<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
<style>

.btn {
      -webkit-border-radius: 10;
      -moz-border-radius: 10;
      border-radius: 10px;
      text-shadow: 2px 1px 3px #0d020d;
      font-family: Arial;
      color: #ffffff;
      font-size: 20px;
      background: #878787;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
    }

    .btn:hover {
      background: #666666;
      text-decoration: none;
      cursor:pointer;
    }
    
html { 
  background-color: #4877EE;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a:hover { text-decoration: none; }

body{padding:0;margin:0;}
    .homepage {
    background-color: #4877EE;
    margin: 0;
    }
    
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
    
.unselectable {
	-webkit-touch-callout: none;
    	-webkit-user-select: none;
    	-khtml-user-select: none;
    	-moz-user-select: none;
    	-ms-user-select: none;
   	 user-select: none;
}
</style>

<h1 class="title unselectable">Cryptocurrency Market Aggregator</h1>
<br>
  <a href = "/"><button class="btn">Home</button></a>
	<a href = "about"><button class="btn">About</button></a>
	<a href = "wallets"><button class="btn">Wallets</button></a>
	<a href = "exchanges"><button class="btn">Exchanges</button></a>
</head>
</html>