<!DOCTYPE html>
<html>
    <style>
    body{padding:0;margin:0;}
    .bg {
    background-color: #4877EE;
    margin: 0;
    }
    
    </style>
    <meta charset="UTF-8">
    <head>
        <title>Cryptogator</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/basic_style.css">
    </head>
    <body>
        <%= render "header/header" %>
        
        <div style="margin: 0 auto; width: 1090px;">
            <div style="margin: 0 auto; width: 643px;">
            <br>
            <a href = "http://cryptosource.org/getting-started/" target = "_blank"><div><img src='/images/home buttons/new_unselected.png' onmouseover="this.src='/images/home buttons/new_selected.png';" onmouseout="this.src='images/home buttons/new_unselected.png';"/></div></a>
        </div>
            <br><br>
            <img src='/images/placeholder.png'></img>
        </div>
    </body>
</html>