<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
        <title>Cryptogator</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/basic_style.css">
    </head>
    <body>
        <div style="margin: 0 auto; width: 1030px;">
            <a href = "home.html"><img src='/images/cryptogator.png'></img></a>
        </div>
        <br>
        <div style="margin: 0 auto; width: 650px;">
	        <a href = "about"><img src='/images/home buttons/about_selected.png' onmouseover="this.src='/images/home buttons/about_selected.png';" onmouseout="this.src='/images/home buttons/about_selected.png';"/></a> <!-- The unselected version is broken and I can't get paint to fix it, please fix it and replace the version I have.-->
	        <a href = "wallets"><img src='/images/home buttons/wallets_unselected.png' onmouseover="this.src='/images/home buttons/wallets_selected.png';" onmouseout="this.src='/images/home buttons/wallets_unselected.png';"/></a>
	        <a href = "exchanges"><img src='/images/home buttons/exchanges_unselected.png' onmouseover="this.src='/images/home buttons/exchanges_selected.png';" onmouseout="this.src='/images/home buttons/exchanges_unselected.png';"/></a>
        </div>

        <div style="margin: 0 auto; width: 643px;">
            <br>
            <a href = "http://cryptosource.org/getting-started/" target = "_blank"><img src='/images/home buttons/new_unselected.png' onmouseover="this.src='/images/home buttons/new_selected.png';" onmouseout="this.src='/images/home buttons/new_unselected.png';"/></a>
        </div>
        <div style="margin: 0 auto; width: 1090px;">
            <br><br>
            <img src='/images/placeholder.png'></img>
        </div>
    </body>
</html>