<!DOCTYPE html>
<html>
    <style>
    new.btn {
      -webkit-border-radius: 10;
      -moz-border-radius: 10;
      border-radius: 10px;
      text-shadow: 2px 1px 3px #0d020d;
      font-family: Arial;
      color: #ffffff;
      font-size: 20px;
      background: #878787;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
    }

    new.btn:hover {
      background: #666666;
      text-decoration: none;
    }
    </style>
    <meta charset="UTF-8">
    <head>
        <title>Cryptogator</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/basic_style.css">
    </head>
    <body>
        <%= render "header/header" %>
        
        <div style="margin: 0 auto; width: 1090px;">
            div style="margin: 0 auto; width: 643px;">
            <br>
            <a href = "http://cryptosource.org/getting-started/" target = "_blank"><button class="new">New to the Market? Get Started!</button></a>
        </div>
            <br><br>
            <img src='/images/placeholder.png'></img>
        </div>
    </body>
</html>