<!DOCTYPE html>
<html>
    <script language="javascript">
      function toggleWeb() { 
        var web = document.getElementById('test');
        var displaySetting = test.style.display;
        var webButton = document.getElementById('webBtn');
				
        if (displaySetting == 'block') {
            web.style.display = 'none';
        }
        else { 
          web.style.display = 'block';
        }
      }  
    </script>
    <style>
        div#test {
            display: none;
        }
    </style>
    <meta charset="UTF-8">
    <head>
        <title>Wallets</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/basic_style.css">
    </head>
    <body>
        <%= render "header/header" %>
        <div style="margin: 0 auto; width: 400px;">
            <br>
            <button class="btn" onclick="toggleWeb()" id="webBtn">Web</button>
            <button class ="btn" id ="test">TEST TEST TEST</button>
            <button class="btn">Phone</button>
            <button class="btn">PC</button>
        </div>
    </body>
</html>