<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
        <title>Wallets</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/basic_style.css">
    </head>
    <body>
        <%= render "header/header" %>
        <div style="margin: 0 auto; width: 400px;">
            <button class="btn">Web</button>
            <button class="btn">Phone</button>
            <button class="btn">PC</button>
        </div>
    </body>
</html>