<!DOCTYPE html>
<html>
    <script language="javascript">
      function toggle(s) {
        if(s === 'web') {
            var a = document.getElementById('phone');
            var b = document.getElementById('pc');
        }
        else if(s === 'phone') {
            var a = document.getElementById('web');
            var b = document.getElementById('pc');
        }
        else {
            var a = document.getElementById('web');
            var b = document.getElementById('phone');
        }
        var e = document.getElementById(s);
        var displaySetting = e.style.display;
        var button = document.getElementById(s + 'Btn');
				
        if (displaySetting == 'block') {
            e.style.display = 'none';
            //a.style.display = 'block';
            //b.style.display = 'block';
        }
        else { 
            e.style.display = 'block';
            a.style.display = 'none';
            b.style.display = 'none';
        }
      }  
    </script>
    <style>
        div#web {
            display: none;
        }
        div#phone {
            display: none;
        }
        div#pc {
            display: none;
        }
    </style>
    <meta charset="UTF-8">
    <head>
        <title>Wallets</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/basic_style.css">
    </head>
    <body>
        <%= render "header/header" %>
        <br><br>
        <div style="margin: 0 auto; width: 432px;">
                <a href = "https://bitcoin.org/en/download" target = "_blank"><div><img src='/images/wallet buttons/bitcoincore_unselected.png' onmouseover="this.src='/images/wallet buttons/bitcoincore_selected.png';" onmouseout="this.src='images/wallet buttons/bitcoincore_unselected.png';"/></div></a>
        </div>
    </body>
</html>