<!DOCTYPE html>
<html>
    <script language="javascript">
      function toggle(s) {
        if(s.equals('web')) {
            var a = document.getElementById('phone');
            var b = document.getElementById('pc');
        }
        else if(s.equals('phone')) {
            var a = document.getElementById('web');
            var b = document.getElementById('pc');
        }
        else {
            var a = document.getElementById('web');
            var b = document.getElementById('phone');
        }
        var e = document.getElementById(s);
        var displaySetting = e.style.display;
        var button = document.getElementById(s + 'Btn');
				
        if (displaySetting == 'block') {
            e.style.display = 'none';
            a.style.display = 'block';
            b.style.display = 'block';
        }
        else { 
            e.style.display = 'block';
            a.style.display = 'none';
            b.style.display = 'none';
        }
      }  
    </script>
    <style>
        div#web {
            display: block;
        }
        div#phone {
            display: block;
        }
        div#pc {
            display: block;
        }
    </style>
    <meta charset="UTF-8">
    <head>
        <title>Wallets</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/basic_style.css">
    </head>
    <body>
        <%= render "header/header" %>
        <div style="margin: 0 auto; width: 400px;">
            <br>
            <button class="btn" onclick="toggle('web')" id="webBtn">Web</button>
            <button class="btn" onclick="toggle('phone')" id="phoneBtn">Phone</button>
            <button class="btn" onclick="toggle('pc')" id="pcBtn">PC</button>
        </div>
        <div style="margin: 0 auto; width: 400px;">
            <button class="btn" id="web">Web Button Test</button>
            <button class="btn" id="phone">Phone Button Test</button>
            <button class="btn" id="pc">PC Button Test</button>
        </div>
    </body>
</html>