<div style="margin: 0 auto; width: 1030px;">
    <a href = "/"><img src='/images/cryptogator.png'></img></a>
</div>
<br>
<div style="margin: 0 auto; width: 650px;">
	<a href = "about"><button class="btn">About</button></a>
	<a href = "wallets"><button class="btn">Wallets</button></a>
	<a href = "exchanges"><button class="btn">Exchanges</button></a>
</div>