<style>
	.btn {
      -webkit-border-radius: 10;
      -moz-border-radius: 10;
      border-radius: 10px;
      text-shadow: 2px 1px 3px #0d020d;
      font-family: Arial;
      color: #ffffff;
      font-size: 20px;
      background: #878787;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
    }

    .btn:hover {
      background: #666666;
      text-decoration: none;
      cursor:pointer;
    }
    
    body{padding:0;margin:0;}
    .bg {
    background-color: #4877EE;
    margin: 0;
    }
</style>

<div style="margin: 0 auto; width: 1030px;">
    <img src='/images/cryptogator.png'></img>
</div>
<br>
<div style="margin: 0 auto; width: 650px;">
  <div class = "bg">
  <a href = "/"><button class="btn">Home</button></a>
	<a href = "about"><button class="btn">About</button></a>
	<a href = "wallets"><button class="btn">Wallets</button></a>
	<a href = "exchanges"><button class="btn">Exchanges</button></a>
	</div>
</div>