<div style="">
    <a href = "/"><img src='/images/cryptogator.png'></img></a>
</div>
<br>
<div style="">
	<a href = "about"><img src='/images/home buttons/about_selected.png' onmouseover="this.src='/images/home buttons/about_selected.png';" onmouseout="this.src='/images/home buttons/about_selected.png';"/></a>
	<a href = "wallets"><img src='/images/home buttons/wallets_unselected.png' onmouseover="this.src='/images/home buttons/wallets_selected.png';" onmouseout="this.src='/images/home buttons/wallets_unselected.png';"/></a>
	<a href = "exchanges"><img src='/images/home buttons/exchanges_unselected.png' onmouseover="this.src='/images/home buttons/exchanges_selected.png';" onmouseout="this.src='/images/home buttons/exchanges_unselected.png';"/></a>
</div>