<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
        <title>About</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/basic_style.css">
    </head>
    <body>
        <%= render "header/header" %>
        <br><br>
        <div style="margin: 0 auto; width: 1200px;">
            <f class="smaller">
                Cryptogator is a cryptocurrency market aggregator designed to help cryptocurrency buyers and sellers alike in finding the highest and lowest prices across various exchanges.
            </f>
            <br><br>
            <f class="smaller">
                This is a student project that uses APIs from cryptocurrency exchanges to collect data at fixed times in order to present prices in a chart to the user.
            </f>
            <br><br><br><br>
        </div>
        <div style="margin: 0 auto; width: 430px;">
            <a href = "https://github.com/Cody-Anderson/CryptocurrencyDataAggregator" target = "_blank"><img src='/images/about buttons/github_unselected.png' onmouseover="this.src='/images/about buttons/github_selected.png';" onmouseout="this.src='images/about buttons/github_unselected.png';"/></a>
            <br>
            <a href = "http://rubyonrails.org/" target = "_blank"><img src='/images/about buttons/rails_unselected.png' onmouseover="this.src='/images/about buttons/rails_selected.png';" onmouseout="this.src='images/about buttons/rails_unselected.png';"/></a>
        </div>
    </body>
</html>