<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
        <title>About</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/basic_style.css">
    </head>
    <body>
        <%= render "header/header" %>
        <br><br>
        <div style="margin: 0 auto; width: 1200px;">
            <f class="smaller">
                Cryptogator is a cryptocurrency market aggregator designed to help cryptocurrency buyers and sellers alike in finding the highest and lowest prices across various exchanges.
            </f>
            <br><br>
            <f class="smaller">
                This is a student project that uses APIs from cryptocurrency exchanges to collect data at fixed times in order to present prices in a chart to the user.
            </f>
            <br><br><br><br>
        </div>
        <div style="margin: 0 auto; width: 100px;">
            <f>APIs:</f>
            <br><br>
        </div>
        <div style="margin: 0 auto; width: 630px;">
            <a href = "https://bittrex.com/home/api" target = "_blank" id="BittrexAPILink"><img src='/images/about buttons/bittrexapi_unselected.png' onmouseover="this.src='/images/about buttons/bittrexapi_selected.png';" onmouseout="this.src='images/about buttons/bittrexapi_unselected.png';"/></a>
            <a href = "https://poloniex.com/support/api/" target = "_blank" id="PoloniexAPILink"><img src='/images/about buttons/poloniexapi_unselected.png' onmouseover="this.src='/images/about buttons/poloniexapi_selected.png';" onmouseout="this.src='images/about buttons/poloniexapi_unselected.png';"/></a>
            <a href = "https://docs.bitfinex.com/docs" target = "_blank" id="BitfinexAPILink"><img src='/images/about buttons/bitfinexapi_unselected.png' onmouseover="this.src='/images/about buttons/bitfinexapi_selected.png';" onmouseout="this.src='images/about buttons/bitfinexapi_unselected.png';"/></a>
        </div>
        <div style="margin: 0 auto; width: 1200px;" id="APInotes">
            <br><br>
            <f class="smaller">
                <h1>API Notes</h1>
                The Bittrex public API is unlimited (as far as we can tell). This Bittrex API typically has a fast response time.<br /><br />
                The Poloniex public API has a rate limit of 1 request per 167 milliseconds. Response times can be inconsistent and possibly take longer than expected.<br /><br />
                The Bitfinex public API has a rate limit of 1 request per 6 seconds. Response times seem to be fairly fast.<br /><br />
            </f>
        </div>
        <br><br><br>
        <div style="margin: 0 auto; width: 420px;">
            <a href = "https://github.com/Cody-Anderson/CryptocurrencyDataAggregator" id="github" target = "_blank"><img src='/images/about buttons/github_unselected.png' onmouseover="this.src='/images/about buttons/github_selected.png';" onmouseout="this.src='images/about buttons/github_unselected.png';"/></a>
            <br>
            <a href = "http://rubyonrails.org/" target = "_blank"><img src='/images/about buttons/rails_unselected.png' onmouseover="this.src='/images/about buttons/rails_selected.png';" onmouseout="this.src='images/about buttons/rails_unselected.png';"/></a>
        </div>
    </body>
</html>