// Place all the styles related to the exchanges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#buttons {
    position: absolute;
    left: 1150px;
    top: 75px;
}

#chart_div {
    position: absolute;
    left: 0px;
    top: 0px;
    display: inline-block;
}

.exchange_button,.exchange_button:link,.exchange_button:visited {
    background-color: #4285F4;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
}

.exchange_button:hover, .exchange_button:active {
    background-color: #0e62ed;
}