// Place all the styles related to the exchanges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#buttons {
    position: absolute;
    left: 1150px;
    top: 75px;
}

#chart_div {
    position: absolute;
    left: 0px;
    top: 0px;
    display: inline-block;
}

.exchange_button,.exchange_button:link,.exchange_button:visited {
    background-color: #4285F4;
    box-shadow: 0px 2px 10px #888888;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    transition: background-color 0.1s;
    transition: box-shadow 0.1s;
}

.exchange_button:hover { background-color: #2f79f3; }

.exchange_button:active {
    box-shadow: 0px 4px 20px #888888;
    background-color: #0e62ed;
}
